/* 颜色 */
.flex-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
body {
  -webkit-overflow-scrolling: touch;
}
a {
  -webkit-tap-highlight-color: rgba(240, 43, 43, 0);
  tap-highlight-color: rgba(240, 43, 43, 0);
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}
input,
select,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input,
select,
textarea {
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button {
  border: none;
}
img,
fieldset {
  border: 0;
}
ul,
ol {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  color: #333;
}
html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: border-box;
}
/* 媒体查询 */
html {
  font-size: 50px;
}
body {
  font-size: 24px;
  min-width: 320px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33px;
  }
  body {
    font-size: 12px;
  }
  input {
    outline: none;
  }
  textarea {
    outline: none;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.67px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.27px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
  body {
    font-size: 15.36px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
  body {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
  body {
    font-size: 23.04px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
  body {
    font-size: 24px;
  }
}
body {
  min-width: 320px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333;
  background: #ffffff;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
select,
textarea {
  width: 100%;
  border: 0;
  color: #333;
  font-size: 0.58333296rem;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* icon-font */
@font-face {
  font-family: 'iconfont';
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/iconfont.woff') format('woff'), /* chrome, firefox */ url('font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('font/iconfont.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-touxiang:before {
  content: "\e61a";
}
.icon-order:before {
  content: "\e62f";
}
.icon-jiantou:before {
  content: "\e613";
}
.icon-shangchengicon01:before {
  content: "\e601";
}
.icon-anli:before {
  content: "\e6c2";
}
.icon-fengxianceping01:before {
  content: "\e615";
}
.icon-lipei:before {
  content: "\e673";
}
.icon-icon191:before {
  content: "\e6bd";
}
.icon-tuijian:before {
  content: "\e60e";
}
.icon-baokuan:before {
  content: "\e66a";
}
.icon-qiyexinxicaiji:before {
  content: "\e62a";
}
/* checkbox */
.app-radio input {
  width: 0.8333328rem;
  display: none;
}
.app-radio input + label:before {
  content: "\e62b";
  color: #666666;
}
.app-radio input:checked + label:before {
  content: "\e629";
  color: #f6ab1a;
}
/* checkbox */
.app-checkbox input {
  width: 0.8333328rem;
  display: none;
}
.app-checkbox input + label:before {
  content: "\e601";
  color: #666666;
}
.app-checkbox input:checked + label:before {
  content: "\e602";
  color: #f6ab1a;
}
/* 间距 */
.content-top {
  margin-top: 2.09722088rem;
}
.body-bg {
  background: #f2f2f2;
}
.mt-30 {
  margin-top: 0.4166664rem;
}
/* 头部 */
header {
  background: #ffffff;
  height: 2.083332rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: solid 1px #eee;
  z-index: 100;
}
header .head {
  text-align: center;
  line-height: 2.083332rem;
  color: #666666;
  font-size: 0.72222176rem;
  position: relative;
}
header .head .top-bar-back {
  width: 2.083332rem;
  height: 2.083332rem;
  font-size: 0.58333296rem;
  text-align: center;
  line-height: 2.083332rem;
  position: absolute;
  left: 0;
  top: 0;
}
header .head .quit {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.777776rem;
  height: 2.083332rem;
  text-align: center;
  line-height: 2.083332rem;
  color: #666666;
  font-size: 0.58333296rem;
}
.insurance-box {
  background: #ffffff;
}
.insurance-box .title {
  line-height: 1.6666656rem;
  font-size: 0.63888848rem;
  padding: 0 0.4166664rem;
  font-weight: 600;
}
.insurance-box label {
  float: right;
  line-height: 0.8333328rem;
  padding: 0.4166664rem 0;
  font-size: 0.58333296rem;
  font-weight: normal;
}
.insurance-box label input {
  width: 0.8333328rem;
  height: 0.8333328rem;
  margin-right: 0.1388888rem;
}
.insurance-box label input:before {
  content: "\e604";
  font-size: 0.72222176rem;
  color: #f6ab1a;
}
.insurance-box label input:checked:before {
  content: "\e605";
  font-size: 0.72222176rem;
}
.insurance-box .content {
  width: 100%;
  border-top: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
  overflow: auto;
  padding: 0.2777776rem 0;
}
.insurance-box .content .content-tip {
  padding: 0.4166664rem;
  line-height: 0.8333328rem;
  background: #f7f7f7;
}
.insurance-box .content .list {
  font-size: 0.52777744rem;
  position: relative;
  padding: 0.2777776rem 0.4166664rem;
  height: 1.6666656rem;
}
.insurance-box .content .list.no-pl-left .right {
  padding-left: 0;
}
.insurance-box .content .list .left input {
  width: 0.8333328rem;
  height: 0.8333328rem;
  position: absolute;
  left: 0.4166664rem;
  top: 0.4166664rem;
}
.insurance-box .content .list .left input:before {
  content: "\e604";
  font-size: 0.72222176rem;
  color: #f6ab1a;
}
.insurance-box .content .list .left input:checked:before {
  content: "\e605";
  font-size: 0.72222176rem;
}
.insurance-box .content .list .right {
  padding-left: 0.9722216rem;
  width: 100%;
}
.insurance-box .content .list .right .name {
  width: 35%;
  line-height: 1.1111104rem;
  float: left;
}
.insurance-box .content .list .right .fill {
  width: 40%;
  float: left;
  position: relative;
}
.insurance-box .content .list .right .fill.park .input-box {
  padding-left: 0;
}
.insurance-box .content .list .right .fill.park .input-box em {
  width: 6em;
}
.insurance-box .content .list .right .fill.food {
  width: 75%;
}
.insurance-box .content .list .right .fill.food span {
  width: 8em;
}
.insurance-box .content .list .right .fill.food span select {
  border: solid 1px #eeeeee;
  padding: 0 0.1388888rem;
}
.insurance-box .content .list .right .fill.food .input-box {
  padding-left: 9em;
}
.insurance-box .content .list .right .fill.employer {
  width:70%;
}
.insurance-box .content .list .right .fill.employer span {
  width: 10em;
}
.insurance-box .content .list .right .fill.employer span select {
  border: solid 1px #eeeeee;
  padding: 0 0.1388888rem 0 0.2777776rem;
  border-radius:5px;
}
.insurance-box .content .list .right .fill.employer span em {
  width:6em;
  height: 1.13888816rem;
  background: #eeeeee;
  position: absolute;
  left: 4em;
  top: 0;
  display: block;
  font-style: normal;
  text-align: center;
  line-height: 1.13888816rem;
  border-radius: 0 5px 5px 0;
}
.insurance-box .content .list .right .fill.employer span i {
  width: 0.47222192rem;
  height: 0.47222192rem;
  display: block;
  background: url(../images/arrow.png) no-repeat;
  background-size: cover;
  position: absolute;
  right: 6.3em;
  top: 50%;
  margin-top: -0.23611096rem;
}
.insurance-box .content .list .right .fill.employer .input-box {
  margin-left:11em;
  position: relative;
}
.insurance-box .content .list .right .fill.employer .input-box em {
  width: 3em;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
}
.insurance-box .content .list .right .fill.employer .input-box input {
  padding: 0.1388888rem 0.1388888rem 0.1388888rem 1em;
}
.insurance-box .content .list .right .fill span {
  width: 2.5em;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  line-height: 1.1111104rem;
}
.insurance-box .content .list .right .fill .input-box {
  padding-left: 2.5em;
}
.insurance-box .content .list .right .fill .input-box input {
  border: solid 1px #eeeeee;
  line-height: 0.8333328rem;
  padding: 0.1388888rem 3em 0.1388888rem 0.1388888rem;
  border-radius: 5px;
}
.insurance-box .content .list .right .fill .input-box em {
  width: 3em;
  height: 1.13888816rem;
  background: #eeeeee;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  font-style: normal;
  text-align: center;
  line-height: 1.13888816rem;
  border-radius: 0 5px 5px 0;
}
.insurance-box .content .list .right .quota {
  width: 25%;
  display: table-cell;
  text-align: right;
  line-height: 1.1111104rem;
}
.insurance-box .total {
  line-height: 1.6666656rem;
  text-align: right;
  padding: 0 0.4166664rem;
  font-size: 0.58333296rem;
}
.insurance-box .total span {
  color: red;
  font-size: 0.66666624rem;
}
.total-expenses {
  background: #ffffff;
  padding: 0.694444rem 0.4166664rem;
  text-align: right;
}
.total-expenses h2 {
  font-size: 0.58333296rem;
}
.total-expenses h2 span {
  color: red;
  font-size: 0.66666624rem;
}
.total-expenses p {
  font-size: 0.44444416rem;
  padding-top: 0.1388888rem;
  color: #999999;
}
/* 修改新增样式 */
.insurance-box .content .list .right .quota.right{float:right;}
.insurance-box .content .list .right .fill.public {
  width:70%;float:left;
}
.insurance-box .content .list .right .fill.public span {
  width:17em;
}
.insurance-box .content .list .right .fill.public span select {
  border: solid 1px #eeeeee;
  padding: 0 0.1388888rem 0 0.2777776rem;
  border-radius:5px;
}
.insurance-box .content .list .right .fill.public span em {
  width:12em;
  height: 1.13888816rem;
  background: #eeeeee;
  position: absolute;
  left: 5em;
  top: 0;
  display: block;
  font-style: normal;
  text-align: center;
  line-height: 1.13888816rem;
  border-radius: 0 5px 5px 0;
}
.insurance-box .content .list .right .fill.public span i {
  width: 0.47222192rem;
  height: 0.47222192rem;
  display: block;
  background: url(../images/arrow.png) no-repeat;
  background-size: cover;
  position: absolute;
  right: 12.3em;
  top: 50%;
  margin-top: -0.23611096rem;
}